body {
  margin: 0;
  text-align: center;
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: #d7fffd;
}
hr {
  border-top: 8px dotted grey;
  width: 10%;
}
.top-container {
  background-color: #9de3d0;
  position: relative;
  padding: 100px;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  color: white;
}
h2 {
  font-family: 'Abel', sans-serif;
  color: #1eb2a6;
  font-size: 50px;
}
h3 {
  font-family: 'Abel', sans-serif;
  font-size: 30px;
}
p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.p1 {
  font-size: 25px;
  color: white;
}
.asteroid {
  position: absolute;
  left: 15%;
  bottom: 300px;
}
.black-hole {
  position: absolute;
  right: 20%;
  bottom: 100px;
}
.comet {
  position: absolute;
  top: 50px;
  right: 15%;
}
.profile {
  padding-top: 50px;
}
.robot {
  height: 200px;
  width: 200px;
}
.rocket {
  height: 200px;
  width: 150px;
}
table {
  margin: 0 auto 0 auto;
}
